<section class = "proyectos">
    <h2>Proyectos</h2>
    <div class="conborde">
    </div>
    <div class="cards">
    <div class="card1" style="width: 18rem;">
        <img src="../../../assets/RENDER 4.4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Acá irian fotos de sitios webs creados por mi + un botón q los lleve hacia ellos</p>
          <button type="button" class="botones-proyecto">Video de visualización</button>
        </div>
      </div>
      <div class="card2" style="width: 18rem;">
        <img src="../../../assets/RENDER 2.png" class="card-img-top" alt="...">
        
        <div class="card-body">
          <p class="card-text">Acá irian fotos de sitios webs creados por mi + un botón q los lleve hacia ellos</p>
          <button type="button" class="botones-proyecto">Video de visualización</button>
        </div>
      </div>
      <div class="card3" style="width: 18rem;">
        <img src="../../../assets/RENDER 3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Acá irian fotos de sitios webs creados por mi + un botón q los lleve hacia ellos</p>
          <button type="button" class="botones-proyecto">Video de visualización</button>
        </div>
      </div>
    </div>
</section>
