<div> 
    <a href = "https://www.linkedin.com/in/lara-eliana-ienco-361764241/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin" class="socials"></a>
    <a href = "https://www.instagram.com/lara.ienco/" target="_blank" ><img src="../../../assets/instagram.png" id="instagram"  class="socials"></a>
    <a href = "https://github.com/LaraIenco" target="_blank" id="github"><img src="../../../assets/github.png"  class="socials"></a>
    <a href = "..." target="_blank" id="login"><img src="../../../assets/login.png"  class="socials"></a>
</div>