<div id="miperfil" style="margin-left: 20px;">
    <div id = "perfil-imagen">
        <img class = "profile-image" src="../../../assets/FotoDePerfil.jpeg">
        <h1 class="texto-nombre"><b>Lara Eliana Ienco</b></h1>
    </div>
    <a href="https://es.wikipedia.org/wiki/Universidad_de_Buenos_Aires" target="_blank"><img class = "UBA" src="../../../assets/UBA.png"></a>
</div>

<section class= "sobremi">
    <h2>Sobre mi</h2>
    <div class="conborde">
        FALTA MODIFICAR
        <p> Soy Lara, tengo 18 años y actualmente soy estudiante del CBC de la Universidad de Buenos Aires. </p>
        <p>Formo parte de la Facultad de Ingenieria, ya que estoy inscripta a la Licenciatura en Analista de Sistemas. </p>
            <p>Empecé a interesarme en las IT mientras cursaba la secundaria y me anoté en Argentina Programa sin tener conocimientos previos. </p>
        <p>Hoy, soy una estudiante becada en 2 cursos de programación que busca siempre aprender más.</p>
    </div>
</section>
<section class = "experiencia">
    <h2>Experiencia</h2>
    <div class="conborde">
        <p>
            Aqui va mi experiencia
        </p>
    </div>
</section>

<section class="educacion">
    <h2>Educación</h2>
    <div class="conborde">
    <p>Oracle Next Education (Curso introducción a la programacion, FRONT END) AÑO 2022 </p>
    <p>Codo a Codo 5.0 (Curso Full Stack JAVA) AÑO 2022</p>
    <p>Cultural Inglesa de Buenos Aires (Nivel B1 de Cambridge) AÑO 2014-2019</p>
    </div>
</section>

<section class ="skills">
    <h2>Mis Skills</h2>
    <div class="conborde">
        <h5>HARD SKILLS:</h5>
        <div class="iconos">
            <img class="icon-skill1" src="../../../assets/html.png" alt="">
            <img class="icon-skill2" src="../../../assets/css.png" alt="">
            <img class="js-icon" src="../../../assets/JavaScript.png" alt="">
            <img class="icon-skill1" src="../../../assets/Angular.png">
            <img class="icon-skill3" src="../../../assets/java.png" alt="">
        </div>
        <div class="iconos">
            <img class="blender-icon" src="../../../assets/blender.png" alt="">
            <img class="photoshop-icon" src="../../../assets/photohop.png" alt="">
            <img class="ilus-icon" src="../../../assets/Adobe Illustrator.png" alt="">
            <img class="icon-skill4" src="../../../assets/Bootstrap.png" alt="">
            <img class="icon-skill4" src="../../../assets/mysql-logo.png" alt="">
        </div>
            <h5>SOFT SKILLS:</h5>
<div class="miskills">
        <div class="habilidad">
<h6 class="subtexto">Liderazgo</h6>
<div> 
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100%" style="width: 100%"></div>
      </div>
    </div>
</div>
<div class="habilidad">
    <h6 class="subtexto">Trabajo en equipo</h6>
    <div> 
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100%" style="width: 100%"></div>
          </div>
        </div>
    </div>
    <div class="habilidad">
        <h6 class="subtexto">Gestión de tiempo</h6>
        <div> 
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100%" style="width: 100%"></div>
              </div>
            </div>
        </div>
    </div>
</div>
</section>

